workflows/Automating_Linkedin_Posts_with_AI.json
{
  "name": "Automating Linkedin Posts with AI",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1PbJxSCtpfeyzBJU2oGxpUPJ1sEWfuZxihMcDcDVNMSg",
          "mode": "list",
          "cachedResultName": "Linkedin Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PbJxSCtpfeyzBJU2oGxpUPJ1sEWfuZxihMcDcDVNMSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PbJxSCtpfeyzBJU2oGxpUPJ1sEWfuZxihMcDcDVNMSg/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "566730b0-9a63-4523-bc71-c9281b6f542c",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "aikfz0sT0PnFh1TU",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a9301902-8fef-4848-a67f-0fbe685f0f38",
              "leftValue": "={{ $json.Status }}",
              "rightValue": "pending",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        220,
        0
      ],
      "id": "24d7e5b5-2b21-4ab9-8b8b-911a596668cd",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        480,
        -20
      ],
      "id": "cce89bc2-0890-4c4c-9a24-4675f54d0691",
      "name": "Limit"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a LinkedIn post writer. You will be given a title and your task is to create an engaging LinkedIn post based on that title.\n\nYour post should:\n1. Begin with a compelling hook related to the title  \n2. Include 3-4 paragraphs of informative content  \n3. End with a question to encourage engagement  \n4. Include 4-6 relevant hashtags  \n5. Use appropriate emojis in between  \n\nImportant formatting requirements:\n- Format all paragraphs with proper newline characters (\\n\\n) between them  \n- Ensure the text is properly escaped for JSON  \n- Do not use double quote (\"\") in response of any special character  \n- Do not put asterisk  \n- Keep the overall length appropriate for LinkedIn (under 3000 characters)  \n- Add a final line that says: This post was generated by an AI Agent 🤖 \n\nNow, create a LinkedIn post based on the following title:\n{{ $json['Linkedin Post Title'] }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        700,
        -20
      ],
      "id": "15e21eb9-4ca1-47d6-9d68-89a6ad436b03",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        634.5,
        200
      ],
      "id": "c26f4eec-133a-45a1-88f3-cff4c9dbc429",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "fs22yUGW0171Hmzp",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"post\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        880,
        200
      ],
      "id": "a102ab86-c5dd-4758-92e9-dc6bd067d6d9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1280,
        -20
      ],
      "id": "7da3dbcb-7596-483f-98de-fe1ac0a655f6",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7fdCMkF4olFNR1TH",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:person:{{ $json.sub }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{ $('Code').item.json.output.post }}\"\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -140
      ],
      "id": "378495d3-093c-496e-9138-b6364c99fbb6",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "7fdCMkF4olFNR1TH",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  item.json.output.post = item.json.output.post.replace(\n    /\\n/g,\n    \"\\\\n\"\n  );\n  return item;\n});\nreturn updatedItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        -20
      ],
      "id": "6b9bc7c0-97fb-416d-9306-911041ac9cf7",
      "name": "Code"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PbJxSCtpfeyzBJU2oGxpUPJ1sEWfuZxihMcDcDVNMSg",
          "mode": "list",
          "cachedResultName": "Linkedin Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PbJxSCtpfeyzBJU2oGxpUPJ1sEWfuZxihMcDcDVNMSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1224717625,
          "mode": "list",
          "cachedResultName": "Linkedin Groups",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PbJxSCtpfeyzBJU2oGxpUPJ1sEWfuZxihMcDcDVNMSg/edit#gid=1224717625"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        1600,
        140
      ],
      "id": "0c94e618-d9bd-4ac7-b01b-a314c1ce251e",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YZ00sAEaV1wdzobW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1820,
        140
      ],
      "id": "c3ac62c4-e616-4408-8722-346cf85a0a93",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:person:{{ $('HTTP Request').item.json.sub }}\",\n  \"containerEntity\": \"urn:li:group:{{ $json['Groups Ids'] }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{ $('Code').item.json.output.post }}\"\n      },\n      \"shareMediaCategory\": \"NONE\"\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"CONTAINER\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2140,
        160
      ],
      "id": "7eb78054-5c7f-449c-adb7-117bea36284c",
      "name": "HTTP Request2",
      "retryOnFail": false,
      "credentials": {
        "httpHeaderAuth": {
          "id": "7fdCMkF4olFNR1TH",
          "name": "Header Auth account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2000,
        -60
      ],
      "id": "8a8e0153-c068-455d-b931-d9731a887de6",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PbJxSCtpfeyzBJU2oGxpUPJ1sEWfuZxihMcDcDVNMSg",
          "mode": "list",
          "cachedResultName": "Linkedin Post",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PbJxSCtpfeyzBJU2oGxpUPJ1sEWfuZxihMcDcDVNMSg/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Posts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PbJxSCtpfeyzBJU2oGxpUPJ1sEWfuZxihMcDcDVNMSg/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Limit').item.json.ID }}",
            "Status": "posted"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Linkedin Post Title",
              "displayName": "Linkedin Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        2183.864,
        -60
      ],
      "id": "8b7589f0-1da0-4f55-9cbf-c1f09d7b5649",
      "name": "Google Sheets1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YZ00sAEaV1wdzobW",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Google Sheets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6f6fc203-6634-494f-a9c2-6bb9579b9698",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "255cb48f774e077ce6b56611f37844accbcd9ddb3e8a414ad733165049951690"
  },
  "id": "3CFz0ZXUEWYODQXr",
  "tags": []
}