workflows/Backup_Workflows_To_Github.json
{
  "createdAt": "2025-06-01T03:39:11.805Z",
  "updatedAt": "2025-06-01T04:23:35.000Z",
  "id": "90aE9VfgouGkDwgi",
  "name": "Backup Workflows To Github",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1235fed-ae2f-4520-9158-2cf406bb2586",
              "leftValue": "={{ $('List Workflow Files on Github').all().map(item => item.json.name) }}",
              "rightValue": "={{ $json.name }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        100
      ],
      "id": "c87ea7e1-4b7b-49c0-b9ec-c526e31dbb0c",
      "name": "If File Exists"
    },
    {
      "parameters": {
        "operation": "fromJson",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        220,
        0
      ],
      "id": "26bc9481-074b-4950-9c03-56041aff3623",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1100,
        100
      ],
      "id": "e5cb6eff-8cf3-4a93-b35a-6f5efa323715",
      "name": "Run Daily"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/adamhaley/n8n"
        },
        "filePath": "workflows"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -880,
        100
      ],
      "id": "69d04e91-6d0f-4eec-aab9-85a93aa35e30",
      "name": "List Workflow Files on Github",
      "executeOnce": true,
      "webhookId": "ef7828ec-cf4d-42a9-b12f-5c088cf829ec",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nlet name =  $json.name.replace(/ /g,'_');\nname = name.replace('/','') + '.json';\nreturn { name: name }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        100
      ],
      "id": "a49d6b22-041d-4a0e-9264-f6de138121bd",
      "name": "Proper filename from Workflow",
      "executeOnce": false
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/adamhaley/n8n"
        },
        "filePath": "=workflows/{{ $json.name }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c41a0ba7-3e0d-4edf-96e3-a622fae80b6d",
      "name": "Get The File",
      "executeOnce": false,
      "webhookId": "c6bcc826-6787-45c1-a756-6aedb5fd81b7",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "returnAll": false,
        "filters": {
          "activeWorkflows": true,
          "tags": ""
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.n8n",
      "typeVersion": 1,
      "position": [
        -660,
        100
      ],
      "id": "c39a265e-d245-4f9e-9ec6-ed03343a6c4b",
      "name": "n8n Get Active Workflows",
      "executeOnce": true,
      "credentials": {
        "n8nApi": {
          "id": "v9vxnDOn8eyJwvsI",
          "name": "n8n account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c9576a13-befb-4a51-85e2-7ee04cb3664f",
              "leftValue": "={{ JSON.stringify( $('Extract from File').item.json.data, null, 2 ) }}",
              "rightValue": "={{ JSON.stringify( $('n8n Get Active Workflows').item.json, null, 2 ) }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        440,
        0
      ],
      "id": "4dbe5457-692e-4dc0-8587-c9d225570e88",
      "name": "if n8n Workflow has Updates"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/adamhaley/n8n"
        },
        "filePath": "=workflows/{{ $('Proper filename from Workflow').item.json.name }}",
        "fileContent": "={{ JSON.stringify( $('n8n Get Active Workflows').first().json ) }}",
        "commitMessage": "=creating backup file for workflow \"{{ $('n8n Get Active Workflows').first().json.name }}\"\"",
        "additionalParameters": {
          "branch": {
            "branch": "main"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        0,
        200
      ],
      "id": "ee4bd454-0057-4545-98ab-145461c6055d",
      "name": "Create File on Github",
      "webhookId": "23889cba-d3e7-4dd0-ab91-4b262d0112f1",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n",
          "cachedResultUrl": "https://github.com/adamhaley/n8n"
        },
        "filePath": "=workflows/{{ $('Get The File').item.json.name }}",
        "fileContent": "={{ JSON.stringify( $('n8n Get Active Workflows').item.json, null, 2 ) }}",
        "commitMessage": "=Updating n8n workflow \"{{ $('n8n Get Active Workflows').item.json.name }}\""
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "b6e6b224-e0ab-41da-a2cf-d0ca4f5b711a",
      "name": "Update File on GIthub",
      "webhookId": "f6489b4e-6185-449d-b876-e17fd2afbbd1",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    }
  ],
  "connections": {
    "If File Exists": {
      "main": [
        [
          {
            "node": "Get The File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create File on Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "if n8n Workflow has Updates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Daily": {
      "main": [
        [
          {
            "node": "List Workflow Files on Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Workflow Files on Github": {
      "main": [
        [
          {
            "node": "n8n Get Active Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Proper filename from Workflow": {
      "main": [
        [
          {
            "node": "If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get The File": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "n8n Get Active Workflows": {
      "main": [
        [
          {
            "node": "Proper filename from Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if n8n Workflow has Updates": {
      "main": [
        [
          {
            "node": "Update File on GIthub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Run Daily": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "a3617828-8ca2-4c04-8fba-0fe15680211c",
  "triggerCount": 1,
  "tags": []
}