workflows/Clean_Up_adamhaley@gmail.com.json
{
  "createdAt": "2025-06-01T05:04:13.940Z",
  "updatedAt": "2025-06-02T01:09:39.000Z",
  "id": "L9M7MrQz8udYPlcv",
  "name": "Clean Up adamhaley@gmail.com",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "inputText": "={{ $json.Subject }}{{ $json.snippet }}",
        "categories": {
          "categories": [
            {
              "category": "Spammy",
              "description": "Emails from people or companies with the intent to sell a product or service, is a mass email and doesnt apply to me directly"
            },
            {
              "category": "Personal",
              "description": "Personal email from family or friends about anything"
            },
            {
              "category": "Recruitment",
              "description": "Job offers or requests for resumes, interviews or intro calls"
            },
            {
              "category": "Social",
              "description": "Any email from a social media site - instagram, facebook, youtube, X, etc"
            },
            {
              "category": "Transactional",
              "description": "Receipts or Invoices"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1,
      "position": [
        580,
        1100
      ],
      "id": "f812d38e-de5d-46aa-aa4e-6ba2f856f0a0",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "operation": "getAll",
        "filters": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        360,
        1100
      ],
      "id": "7b2444db-e6e6-4bf4-baf3-2ae4f5494fe6",
      "name": "Gmail6",
      "webhookId": "8171207a-a218-461b-aae1-71478bbfb934",
      "credentials": {
        "gmailOAuth2": {
          "id": "KbRFiyeEGlFxZvYT",
          "name": "adamhaley@gmail.com account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        140,
        1100
      ],
      "id": "5fa53d93-79e6-4c5a-afc2-0244a7bbbdee",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20241022",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 3.5 (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        680,
        1320
      ],
      "id": "a46972ca-d38f-414d-8f2f-a3ee4a17e3c0",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "RpSgqhlCVqkttICM",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "SPAM"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        600
      ],
      "id": "010d3ba7-a7bc-4fee-b726-e04f253ff029",
      "name": "SPAM",
      "webhookId": "ce225a15-311e-4b10-8da7-c6d4fcafa1bc",
      "credentials": {
        "gmailOAuth2": {
          "id": "KbRFiyeEGlFxZvYT",
          "name": "adamhaley@gmail.com account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_PERSONAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        956,
        800
      ],
      "id": "cad0c2dc-9fd2-4af2-8992-8569745fb762",
      "name": "PERSONAL",
      "webhookId": "b4550827-f0fe-4d83-af7f-343253d97238",
      "credentials": {
        "gmailOAuth2": {
          "id": "KbRFiyeEGlFxZvYT",
          "name": "adamhaley@gmail.com account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_5737925553883926836"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        1000
      ],
      "id": "25b3f4d7-d826-4d00-8412-85319a00f640",
      "name": "RECRUITERS",
      "webhookId": "6207bc2f-eaba-4fd7-98d3-c400a543be18",
      "credentials": {
        "gmailOAuth2": {
          "id": "KbRFiyeEGlFxZvYT",
          "name": "adamhaley@gmail.com account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "Label_756443160637827591"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        956,
        1400
      ],
      "id": "2487723c-660a-4da9-a0e0-ce251d370071",
      "name": "TRANSACTIONAL",
      "webhookId": "e26a2307-a6ac-40b0-9b30-2adcab0a78e1",
      "credentials": {
        "gmailOAuth2": {
          "id": "KbRFiyeEGlFxZvYT",
          "name": "adamhaley@gmail.com account"
        }
      }
    },
    {
      "parameters": {
        "operation": "addLabels",
        "messageId": "={{ $json.id }}",
        "labelIds": [
          "CATEGORY_SOCIAL"
        ]
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        960,
        1200
      ],
      "id": "9c316099-c9c8-49be-879c-4182630a62d3",
      "name": "SOCIAL",
      "webhookId": "b8ba08b5-1e3a-4687-9090-fc3bbbffb167",
      "credentials": {
        "gmailOAuth2": {
          "id": "KbRFiyeEGlFxZvYT",
          "name": "adamhaley@gmail.com account"
        }
      }
    }
  ],
  "connections": {
    "Text Classifier": {
      "main": [
        [
          {
            "node": "SPAM",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "RECRUITERS",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PERSONAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SOCIAL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "TRANSACTIONAL",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Gmail6": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Gmail6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6e5b21a7-6359-4539-a44e-3aabe2089f43",
  "triggerCount": 1,
  "tags": []
}