workflows/Extract_Resume_to_AirTable.json
{
  "createdAt": "2025-04-25T21:48:02.748Z",
  "updatedAt": "2025-04-25T22:22:53.000Z",
  "id": "I4kf43NNTQsmBdQL",
  "name": "Extract Resume to AirTable",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -640,
        -80
      ],
      "id": "04d8c722-53a5-48d3-b9e8-36dfc89dfb9d",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "=https://docs.google.com/document/d/1HUdGpSRPUijSm3z-TZgQRlOKg85ZAbveHoG7QHo8fyA/edit?tab=t.0"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -420,
        -80
      ],
      "id": "00701202-3eba-457c-8b34-22b2e009f8b5",
      "name": "Google Docs",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "7bNV16GXW9mKhM7l",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "options": {
          "systemMessage": "You are a helpful text-transforming assistant. I am passing in some text I want uploaded to an Airtable database using the Airtable tool. The text is a resume. I want each job listing on the resume to be inserted into its own record in the airtable DB. Can you analyze the document and match the appropriate fields - Company or Client, Title, Start Date and End Date, and technologies?"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -200,
        -80
      ],
      "id": "fdab57e0-a979-4441-b441-e4f91df79c63",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -260,
        160
      ],
      "id": "7b49379f-e8cf-4db8-8fdd-b3bf078f35e8",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5GRgzlcJ5Ujkvgcd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appJvUU7LLPZMZWBe",
          "mode": "list",
          "cachedResultName": "AHMedia",
          "cachedResultUrl": "https://airtable.com/appJvUU7LLPZMZWBe"
        },
        "table": {
          "__rl": true,
          "value": "tbl1RmNxAEUXKGnAc",
          "mode": "list",
          "cachedResultName": "Resume",
          "cachedResultUrl": "https://airtable.com/appJvUU7LLPZMZWBe/tbl1RmNxAEUXKGnAc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company or Client",
              "displayName": "Company or Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Start Date",
              "displayName": "Start Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "End Date",
              "displayName": "End Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "technologies",
              "displayName": "technologies",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "options": [],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        40,
        200
      ],
      "id": "7ae9d09d-39be-4108-9216-b4b36c324c54",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "hL0MA6fZb8S06sMK",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -120,
        140
      ],
      "id": "e3518c9a-8a09-4138-9157-ef8fa7edf0f1",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "6ade8cb4-8294-46cc-ae8d-6871f0bacd2a",
  "triggerCount": 0,
  "tags": []
}