workflows/Journal_Entry.json
{
  "createdAt": "2025-05-25T00:01:08.305Z",
  "updatedAt": "2025-06-02T01:11:49.000Z",
  "id": "H0HZQnMr1hgjQMmI",
  "name": "Journal Entry",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return { name: $json.name }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -440,
        640
      ],
      "id": "16419d4b-5a9b-4397-98c8-406df60642ff",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "adamhaley-com",
          "mode": "list",
          "cachedResultName": "adamhaley-com",
          "cachedResultUrl": "https://github.com/adamhaley/adamhaley-com"
        },
        "filePath": "=journal/{{ $('Create Filename1').item.json.filename }}",
        "fileContent": "={{$('Create Filename1').item.json.content  }}",
        "commitMessage": "=committing journal entry for {{$now }} }}",
        "additionalParameters": {
          "branch": {
            "branch": "master"
          }
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        0,
        740
      ],
      "id": "768b6ab2-3fec-4380-81c4-45f0aa45a212",
      "name": "Create File1",
      "webhookId": "e63bf744-6684-4324-8490-8e2ff702ba3b",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "adamhaley-com",
          "mode": "list",
          "cachedResultName": "adamhaley-com",
          "cachedResultUrl": "https://github.com/adamhaley/adamhaley-com"
        },
        "filePath": "=journal/{{$('Create Filename1').item.json.filename }}",
        "asBinaryProperty": "={{ true }}",
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        0,
        540
      ],
      "id": "c7b02ccb-84c3-4f55-8faa-376496d029ac",
      "name": "Get File1",
      "webhookId": "b82cb6cc-ee1b-442c-9b07-e472f637ea22",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        220,
        540
      ],
      "id": "485025b8-1997-453a-96f6-a138a68e08c3",
      "name": "Get Contents1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "adamhaley-com",
          "mode": "list",
          "cachedResultName": "adamhaley-com",
          "cachedResultUrl": "https://github.com/adamhaley/adamhaley-com"
        },
        "filePath": "=journal/{{$('Create Filename1').item.json.filename }}",
        "fileContent": "={{ $json.data }}\n\n{{ $now.toLocaleString({ timeStyle: 'short' }) }}\n{{ $('Create Filename1').item.json.content }}\n",
        "commitMessage": "=appending content to  {{ $('Create Filename1').item.json.filename }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        440,
        540
      ],
      "id": "44e3be97-94d4-42a4-8caf-cca76c106b59",
      "name": "Append New Contents1",
      "webhookId": "e534c27a-bd91-4045-b3f7-3e9cd6db060f",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "//create filename\nlet filename = $now.toFormat('y-MM-d') + '.md';\nlet content = '';\nif($input.first().json.content !== null){\n  content = $input.first().json.content;\n}\nreturn { filename: filename, content: content }"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -880,
        640
      ],
      "id": "51485ddf-1149-4438-ab27-1b7831dcd313",
      "name": "Create Filename1"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "adamhaley",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "adamhaley-com",
          "mode": "list",
          "cachedResultName": "adamhaley-com",
          "cachedResultUrl": "https://github.com/adamhaley/adamhaley-com"
        },
        "filePath": "=journal"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        -660,
        640
      ],
      "id": "a7edfbe2-4625-46a0-9751-f7cba627e165",
      "name": "Github List FIles1",
      "webhookId": "3c3f7fc3-d024-4715-87f3-f7eeab3b814c",
      "credentials": {
        "githubApi": {
          "id": "Jvt1VN8GL1z1M8pS",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "content"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -1100,
        640
      ],
      "id": "caeaabab-7036-48b2-b1e7-c783398eda70",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c1235fed-ae2f-4520-9158-2cf406bb2586",
              "leftValue": "={{ $input.all().map(item => item.json.name) }}",
              "rightValue": "={{ $('Create Filename1').first().json.filename }}",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -220,
        640
      ],
      "id": "a1759c3f-0a5f-4eca-8746-57a3e17ddddb",
      "name": "If File Exists",
      "executeOnce": true
    }
  ],
  "connections": {
    "Code": {
      "main": [
        [
          {
            "node": "If File Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File1": {
      "main": [
        [
          {
            "node": "Get Contents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Contents1": {
      "main": [
        [
          {
            "node": "Append New Contents1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Filename1": {
      "main": [
        [
          {
            "node": "Github List FIles1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Github List FIles1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Create Filename1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If File Exists": {
      "main": [
        [
          {
            "node": "Get File1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "437f96d1-dc25-4cc5-80d8-313b70fff17e",
  "triggerCount": 0,
  "tags": []
}