workflows/Scrape_Larajobs.json
{
  "createdAt": "2025-04-23T18:22:59.856Z",
  "updatedAt": "2025-07-01T00:00:02.000Z",
  "id": "eL1zWuEq378dkGx1",
  "name": "Scrape Larajobs",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -420,
        -210
      ],
      "id": "536cd28e-f7da-43f8-9c9d-8810ae236285",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "html",
              "cssSelector": ".job-link",
              "returnValue": "html",
              "returnArray": true
            },
            {
              "key": "url",
              "cssSelector": ".job-link",
              "returnValue": "attribute",
              "attribute": "data-url",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        20,
        -210
      ],
      "id": "25ecff53-fc08-416b-a429-6887d6df52a4",
      "name": "HTML"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "dataPropertyName": "html",
        "extractionValues": {
          "values": [
            {
              "key": "company",
              "cssSelector": "div > div > div > p:first-of-type"
            },
            {
              "key": "job-title",
              "cssSelector": "div > div > div > p:nth-child(3)"
            },
            {
              "key": "terms",
              "cssSelector": "div > div > div > p:nth-child(4)"
            },
            {
              "key": "location",
              "cssSelector": ".flex-none"
            }
          ]
        },
        "options": {
          "cleanUpText": false
        }
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        240,
        -210
      ],
      "id": "e38375a7-2c99-4bd5-85b5-cf023c941d76",
      "name": "HTML1"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        460,
        -210
      ],
      "id": "f684a321-1cb3-4c5a-b0b0-7884a28e9792",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a81ddc18-55be-405d-9256-2b627e2e5c8c",
              "name": "company",
              "value": "={{ $json.company }}",
              "type": "string"
            },
            {
              "id": "2ed93d4c-96a1-44e4-8fb6-0d2db3cc8ef9",
              "name": "job-title",
              "value": "={{ $json['job-title'] }}",
              "type": "string"
            },
            {
              "id": "aafab17a-215d-417e-b83c-2d8aacc9655d",
              "name": "terms",
              "value": "={{ $json.terms }}",
              "type": "string"
            },
            {
              "id": "21d63fe5-a475-4eb7-a1cf-23b6105d070d",
              "name": "location",
              "value": "={{ $json.location }}",
              "type": "string"
            },
            {
              "id": "e278aec2-7c6e-449f-8bd4-a7e65e513d6b",
              "name": "url",
              "value": "={{ $('HTML').item.json.url[ $runIndex] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "url",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        680,
        -160
      ],
      "id": "6dd70292-c439-4975-8c94-394e769b19da",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "= {{ JSON.stringify( $json.data ) }}",
        "options": {
          "systemMessage": "=You are a helpful Job finding assistant for Laravel jobs. Your tone is friendly and relateable, like an energizing job coach. Reading your emails makes me excited to apply to the positions. I have the json from a job board and I would like you return the 10 most recent listings from the job board in the body of the email. See the JSON in the user message. Sign the email AHMediaBOT"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        900,
        -360
      ],
      "id": "fb337d0a-ce7d-4a02-9999-40551a7f964d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        680,
        -360
      ],
      "id": "c0fa76d8-4014-467d-993d-3444e6ccca28",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {
          "timeout": 60000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        940,
        -140
      ],
      "id": "cb98c953-9bde-4273-9022-4e4d91bf1652",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5GRgzlcJ5Ujkvgcd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "adamhaley@gmail.com",
        "subject": "=Fresh Laravel Jobs! ({{ $now.format('M-dd-yyyy')}})",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1260,
        -360
      ],
      "id": "964d91df-6baa-42b4-ae2a-b23088cb50ca",
      "name": "Gmail",
      "webhookId": "9e9f07fa-e50c-4d36-a645-0735cbd5cb36",
      "credentials": {
        "gmailOAuth2": {
          "id": "p2hZcd01ehWmDyQ7",
          "name": "adam@adamhaley.com Gmail"
        }
      }
    },
    {
      "parameters": {
        "url": "https://larajobs.com/",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        -200
      ],
      "id": "d2667a10-00d2-4bfe-afd1-1d4a8bc9f6e3",
      "name": "Scrape LaraJobs"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Scrape LaraJobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "HTML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Scrape LaraJobs": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9d6046ba-490b-45e0-8245-5ac5c7f80d71",
  "triggerCount": 1,
  "tags": []
}