workflows/Secret_Restaurant_RAG_Chatbot.json
{
  "createdAt": "2025-05-20T21:26:53.287Z",
  "updatedAt": "2025-05-21T00:18:25.000Z",
  "id": "ZrbiIBu0ruEuvE7V",
  "name": "Secret Restaurant RAG Chatbot",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "You are a helpful assistant for an exclusive and exotic restaurant. You must answer questions for prospective patrons using information found in the Pinecone vector store database. They will have specific dietary restrictions and I want you to cross-reference the recipes in the vector store with the diet guidelines to tell them which meals they can eat, if they ask.  If the answer is not found, do not attempt to answer from outside knowledge. Do not hallucinate. Do not refer to the Pinecone vector store database by name when answering questions. Just call it \"My Knowledgebase\". Only answer with the title and the description, not the ingredients. \n\nrecipes in your knowledge base with titles and descriptions may be referred to by the user message as \"plates\", \"meals\", \"recipies\", \"dinners\", \"dish names\", \"dishes\", \"courses\""
        }
      },
      "id": "87e9572a-4051-4737-8437-b7fca8ca7bfc",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        120,
        -200
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledgebase",
        "toolDescription": "load details from knowledge base",
        "pineconeIndex": {
          "__rl": true,
          "value": "ah-media",
          "mode": "list",
          "cachedResultName": "ah-media"
        },
        "includeDocumentMetadata": false,
        "options": {
          "pineconeNamespace": "={{ $json.body.namespace }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        320,
        22.5
      ],
      "id": "737805e0-642b-46db-8fbd-bb4013bd3fbf",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "x0bN3Ljld6zAEruh",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        408,
        220
      ],
      "id": "8896f16e-ef81-4b4f-8116-cab5163ecbff",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "b1Nz8WxwYDKRmecP",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.namespace }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        200,
        20
      ],
      "id": "a1afbb4b-f8f9-4685-a531-e2f262814079",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "PAxrnIdpjZ24fsIc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        20
      ],
      "id": "05fa73a5-99f7-40c2-bebd-2dae93e0d432",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "5GRgzlcJ5Ujkvgcd",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "edfc23ee-48e4-4d8e-a51a-30be223586f7",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        -200
      ],
      "id": "0b426ac6-5592-4e52-ae82-3b4243a9c2c2",
      "name": "Webhook",
      "webhookId": "edfc23ee-48e4-4d8e-a51a-30be223586f7"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        696,
        -200
      ],
      "id": "c8fd4e39-4f60-4271-8d02-d0d56cf6dc7d",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "552da74e-bfdf-4759-9bfc-0d1be9c50d9b",
  "triggerCount": 1,
  "tags": []
}