workflows/Twilio_Voice_AI_Agent.json
{
  "createdAt": "2025-06-02T23:27:17.794Z",
  "updatedAt": "2025-06-04T02:52:10.000Z",
  "id": "rMBtqVrvcdEqRF61",
  "name": "Twilio Voice AI Agent",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data.body }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a helpful assistant. You are friendly and eager to connect. do not use emoji characters in your output. Your responses are conversational but only  a few sentences or a paragraph max length. For tool calls requiring location data, use Los Angeles unless otherwise specified."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1740,
        -280
      ],
      "id": "c2848dc2-0c21-4e1b-b065-1259860fb39d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-3-7-sonnet-20250219",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -1712,
        -60
      ],
      "id": "dbd0dbdc-01c4-430b-a604-4dad2088e9d7",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "RpSgqhlCVqkttICM",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "ah_media_bot"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -1592,
        -60
      ],
      "id": "b812518d-4b62-4338-bd0f-12f086902b23",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "PAxrnIdpjZ24fsIc",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "from": "={{ $('Twilio Trigger').item.json.data.to }}",
        "to": "={{ $('Twilio Trigger').item.json.data.from }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        -1364,
        -280
      ],
      "id": "2e1ff95a-f19f-4048-93c3-b94f6140b5aa",
      "name": "Twilio",
      "credentials": {
        "twilioApi": {
          "id": "JkVC8zwgrxjiWWdS",
          "name": "Twilio account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "com.twilio.messaging.inbound-message.received"
        ]
      },
      "type": "n8n-nodes-base.twilioTrigger",
      "typeVersion": 1,
      "position": [
        -1960,
        -280
      ],
      "id": "e6debc6d-8f74-45ee-9e6e-0e8bf11e16f6",
      "name": "Twilio Trigger",
      "webhookId": "da77a3dd-9500-4124-8c1a-c1c76e4c8f5d",
      "credentials": {
        "twilioApi": {
          "id": "JkVC8zwgrxjiWWdS",
          "name": "Twilio account"
        }
      }
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Twilio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Twilio Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Twilio Trigger": {
      "sinkId": "DG35f3e6cada5ee753005262d326f8d915",
      "subscriptionId": "DF8ebf76f65576954545d82c456fa8b42b"
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "9aca6809-ed1e-4618-aa05-d132a39ffcae",
  "triggerCount": 1,
  "tags": []
}